@import "../../responsive.scss";

.profilePage {
  min-height: 100vh;
  display: flex;
  gap: 30px;

  @include md {
    flex-direction: column;
  }

  /* ================= DETAILS ================= */
  .details {
    flex: 3;
    padding-bottom: 40px;

    .wrapper {
      padding-right: 40px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      @include md {
        padding-right: 0;
      }

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
          font-weight: 300;
          font-size: 28px;
        }

        button {
          padding: 10px 20px;
          background-color: #63b6c6;
          color: white;
          border-radius: 8px;
          border: none;
          cursor: pointer;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 18px;

        span {
          display: flex;
          align-items: center;
          gap: 14px;
          font-size: 15px;
        }

        img {
          width: 42px;
          height: 42px;
          border-radius: 50%;
          object-fit: cover;
        }

        button {
          width: fit-content;
          background-color: #63b6c6;
          border: none;
          color: white;
          padding: 10px 18px;
          cursor: pointer;
          border-radius: 8px;
        }
      }
    }
  }

  /* ================= CHAT ================= */
  .chatContainer {
    flex: 2;
    background-color: #fcf5f3;
    border-radius: 16px;
    padding: 20px;

    @include md {
      padding: 0;
      background-color: transparent;
    }

    .wrapper {
      height: 100%;
      border-radius: 16px;
      overflow: hidden;
      background-color: white;

      @include md {
        border-radius: 0;
      }
    }
  }
}
