.homePage {
  height: 90vh;
  margin-top: 10px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
padding-top: 8vh;
  justify-content: flex-end;
  background-image: url("../../../public/bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  
  .homePage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Darken the background image */
    z-index: 1;
  }

  .textContainer {
    width: 50%;
    height: 60%;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 2;

    .wrapper {
      margin-bottom: 10px;
      padding: 15px;
      background-color: #e5e7eb6c;
      border-radius: 30px;
      justify-content: center;

      .title {
        font-size: 3rem;
        color: #111827;
        margin-bottom: 40px;
      }
    }
  }
}
