@import "../../responsive.scss";

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;

  @include md {
    gap: 28px;
  }

  @include sm {
    gap: 20px;
    padding: 0 12px;
  }
}
