@import "../../responsive.scss";

.map {
  width: 100%;
  height: 100%;
  min-height: 400px;
  border-radius: 20px;
  overflow: hidden;

  @include md {
    min-height: 320px;
    border-radius: 16px;
  }

  @include sm {
    min-height: 260px;
    border-radius: 12px;
  }
}
