@import "../../responsive.scss";

.listPage {
  display: flex;
  gap: 30px;
  width: 100%;

  @include md {
    flex-direction: column;
  }

  .listContainer {
    flex: 3;
    display: flex;
    flex-direction: column;

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-right: 30px;
      padding-bottom: 40px;

      @include md {
        padding-right: 0;
      }
    }
  }

  .mapContainer {
    flex: 2;
    min-height: 400px;
    border-radius: 12px;
    background-color: #fcf5f3;
    overflow: hidden;

    @include md {
      display: none;
    }
  }
}
