  @import "../../responsive.scss";

  .searchBar {
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

    .type {
      button {
        padding: 16px 36px;
        margin: 10px;
        border: 1px solid #999;
        border-bottom: none;
        cursor: pointer;
        background-color: white;
        text-transform: capitalize;
        font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
        font-weight:bolder;

        &.active {
          background-color: #3a8fa3;
          color: white;
        }

        &:first-child {
          border-radius: 10px;
          border-right: none;
        }
        &:last-child {
          border-radius: 10px;
          border-left: none;
        }
      }
    }

    form {
      width: 50%;
      // border: 2px solid #3a8fa3;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(6px);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      // align-items: center;
      // justify-content: center;
      height: auto;
      gap: 16px; 

      @include sm {
        flex-direction: column;
        border: none;
      }

      input {
        border: none;
        border-radius: 5px;
        height: 48px;
        padding: 0 16px;
        font-size: 15px;
        background-color: white;
        width: 100%;
        align-items: center;

        @include sm{
          width: auto;
          &:nth-child(2),
          &:nth-child(3) {
            width: auto;
          }
          padding: 20px;
          border: 1px solid #999;
        }
      }

      a{
        width: 100%;
        height: 52px;
        border-radius: 8px;
        background-color: #3a8fa3;
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          border: none;
          cursor: pointer;
          background-color: #3a8fa3;
          
          @include sm{
            padding: 10px;
          }
          
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
