@import "../../responsive.scss";

.layout {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;

  @include md {
    padding: 0 12px;
  }

  @include sm {
    padding: 0 10px;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
