/* src/components/contact.scss */
.contact-container {
  margin-top: 2.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;

  .contact-header {
    text-align: center;
    margin-bottom: 0.5rem;

    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.2rem;
      color: #555;
      margin-top: 0.5rem;
    }
  }

  // /* Ensure image doesn't overlap form */
  // .contact-image {
  //   width: 100%;
  //   max-width: 600px;
  //   margin-bottom: 2rem; /* Space below the image */

  //   img {
  //     width: 100%;
  //     border-radius: 10px;
  //   }
  // }

  /* Contact form now below the image and other content */
  .contact-form {
    margin-top: 1rem;
    width: 100%;
    max-width: 600px;
    background-color: #63b6c6;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h2 {
      font-size: 2rem;
      color: #000000;
      margin-bottom: 0.5rem;
      text-align: center;
    }

    .form-group {
      // margin-bottom: 1.5rem;

      label {
        display: block;
        font-size: 1.1rem;
        color: #000000;
        margin-bottom: 0.5rem;
      }

      input,
      textarea {
        width: 100%;
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 1rem;
        outline: none;
        resize: none;
      }

      textarea {
        min-height: 150px;
        max-height: 200px;
      }
    }

    .form-actions {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      button {
        padding: 1rem 2rem;
        background-color: #007bff;
        color: white;
        font-size: 1.2rem;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}
.form-actions {
  text-align: center;

  input[type="submit"] {
    background: linear-gradient(135deg, #3a8fa3, #3a8fa3); // Gradient color
    color: #ffffff;
    border: none;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #91c0cb;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

    &:hover {
      background: linear-gradient(
        135deg,
        #3a8fa3,
        #3a8fa3
      ); // Invert gradient on hover
      box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3); // Increase shadow on hover
      transform: translateY(-3px); // Lift the button up
    }

    &:active {
      transform: translateY(1px); // Slightly depress on click
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); // Reduce shadow on click
    }
  }
}
