@import "../../responsive.scss";

.hero {
  display: flex;
  flex-direction: column;
  gap: 60px; // space between sections
}

/* About + Contact row */
.infoRow {
  display: flex;
  gap: 40px;
  align-items: stretch;

  @include md {
    gap: 24px;
  }

  @include sm {
    flex-direction: column;
    gap: 32px;
  }

  .about,
  .contact {
    flex: 1;
  }
}
